name: Deploy HTML Site via SSH

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup SSH
        run: |
          mkdir -p ~/.ssh
          printf "%s" "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          ssh-keyscan -H 54.167.35.52 >> ~/.ssh/known_hosts

      - name: Deploy files to server
        run: rsync -avz --delete --exclude=".git*" --exclude=".github" -e "ssh" ./ ${{ secrets.SSH_USER }}root@54.167.35.52:/www/wwwroot/pupetv2ray.linkpc.net
